body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.content-container {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.menu-vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 50%;
  color: #999999;
}