<md-content id="listAPI">
    <md-list flex>

  	<!-- Toast -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/information.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="TOAST_API"></h3>
      </div>
    </md-list-item>

    <!-- Vibration -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/vibrate.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="VIBRATION_API"></h3>
      </div>
    </md-list-item>

    <!-- Notificação -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/bell.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="NOTIFICATION_API"></h3>
      </div>
    </md-list-item>

    <!-- Firebase -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/fire.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="FIREBASE_API"></h3>
      </div>
    </md-list-item>

    <!-- Facebook Login -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/facebook.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="FACE_LOGIN_API"></h3>
      </div>
    </md-list-item>

    <!-- Twitter Login -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/twitter.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="TWITTER_LOGIN_API"></h3>
      </div>
    </md-list-item>

    <!-- Google Login -->
    <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="null">
      <md-icon md-svg-src="./../assets/icons/google-plus.svg" class="s24"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 translate="GOOGLE_LOGIN_API"></h3>
      </div>
    </md-list-item>

  </md-list>
</md-content>