<!DOCTYPE html>
<html>
<head>
	<title>React Native Layout Creator</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">

	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>

	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="scripts/appController.js"></script>
	<script type="text/javascript" src="scripts/config.js"></script>
	<script type="text/javascript" src="scripts/components/todoList/todoListDirective.js"></script>

	<!-- TODO: Adicionar Suporte à Língua PT-BR -->

	<!--Include live reloading-->
	<script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

	<div ng-controller="AppController as app" layout="column" style="height: 100%;" ng-cloak>

	<!-- Menu Superior -->

	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">

		    <!-- Arquivo -->
	        <md-menu md-offset="20 60">
		      <md-button aria-label="Arquivo" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
		        <md-tooltip>Arquivo</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/file.svg"></md-icon>
		      </md-button>
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-button ng-click="app.newScene('Sem Titulo', ' ')">
			          	<div layout="row" layout-align="start center" flex>
			            	<md-icon md-svg-icon="./../assets/icons/plus.svg" md-menu-align-target></md-icon>
			            	Nova Cena
			            	<span flex></span>
							<p>Ctrl + N</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="app.openScene()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/folder.svg"></md-icon>
				            Abrir Cena
				            <span flex></span>
							<p>Ctrl + O</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button id="menuSaveBtn" ng-disabled="app.disableSaveBtn()" ng-click="app.saveScene()">
			          	<div layout="row" layout-align="start center" flex>
						  <md-icon md-svg-icon="./../assets/icons/content-save.svg"></md-icon>
						  Salvar Cena
						  <span flex></span>
						  <p>Ctrl + S</p>
						</div>		            
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button id="menuSaveAsBtn" ng-disabled="app.disableSaveBtn()" ng-click="app.saveSceneAs()">
			            <md-icon md-svg-icon="./../assets/icons/content-save-all.svg"></md-icon>
			            Salvar Como...
			          </md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/file-import.svg"></md-icon>
				            Importar...
				            <span flex></span>
							<p>Ctrl + I</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="" ng-disabled="app.disableSaveBtn()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/file-export.svg"></md-icon>
				            Exportar...
				            <span flex></span>
							<p>Ctrl + E</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-button ng-click="app.exitApp($event)">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/exit-to-app.svg"></md-icon>
				            Sair
				            <span flex></span>
							<p>Ctrl + W</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			      </md-menu-content>
		    </md-menu>

		    <!-- Editar -->
		    <md-menu md-offset="0 50">
		      <md-button aria-label="Editar" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
		        <md-tooltip>Editar</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/pencil.svg"></md-icon>
		      </md-button>
		      	<md-menu-content width="4">
		      		<md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/undo.svg"></md-icon>
				            Undo
				            <span flex></span>
							<p>Ctrl + Z</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/redo.svg"></md-icon>
				            Redo
				            <span flex></span>
							<p>Ctrl + Shift + Z</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/content-cut.svg"></md-icon>
				            Cortar
				            <span flex></span>
							<p>Ctrl + X</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/content-copy.svg"></md-icon>
				            Copiar
				            <span flex></span>
							<p>Ctrl + C</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/content-paste.svg"></md-icon>
				            Colar
				            <span flex></span>
							<p>Ctrl + V</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/select-all.svg"></md-icon>
				            Selecionar Tudo
				            <span flex></span>
							<p>Ctrl + A</p>
			            </div>
			          </md-button>
			        </md-menu-item>
		      	</md-menu-content>
		    </md-menu>

		    <!-- Configurações -->
		    <md-menu md-offset="0 50" style="margin-right: 120px">
		    	<md-button aria-label="Configurações" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
			        <md-tooltip>Configuracoes</md-tooltip>
			        <md-icon md-menu-origin md-svg-icon="./../assets/icons/settings.svg"></md-icon>
		        </md-button>
		        <md-menu-content width="3">
		      		<md-menu-item>
			          <md-button ng-click="">
			            <md-icon md-svg-icon="./../assets/icons/brush.svg"></md-icon>
			            Tema
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			            <md-icon md-svg-icon="./../assets/icons/translate.svg"></md-icon>
			            Idioma
			          </md-button>
			        </md-menu-item>
		    </md-menu>

		    <!-- Format Text Buttons -->

		    <md-button aria-label="Negrito" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		        <md-tooltip>Negrito</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-bold.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Italico" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		        <md-tooltip>Italico</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-italic.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Underline" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Sublinhado</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-underline.svg"></md-icon>
		    </md-button>

		    <!-- Divider -->
		    <md-divider class="menu-vertical-divider"></md-divider>

		    <!-- Format Align Buttons -->

		    <md-button aria-label="Alinhar Esquerda" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Alinhar Texto a Esquerda</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-left.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Alinhar Centro" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Alinhar Texto ao Centro</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-center.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Alinhar Direita" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Alinhar Texto a Direita</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-right.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Justificar" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Justificar Texto</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-justify.svg"></md-icon>
		    </md-button>

		    <!-- Divider -->
		    <md-divider class="menu-vertical-divider"></md-divider>

		    <!-- Format Horizontal Align Buttons -->

		    <md-button aria-label="Horizontal Align Left" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-horizontal-align-left.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Horizontal Align Center" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-horizontal-align-center.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Horizontal Align Right" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-horizontal-align-right.svg"></md-icon>
		    </md-button>

		    <!-- Divider -->
		    <md-divider class="menu-vertical-divider"></md-divider>

		    <!-- Format Vertical Align Buttons -->

		    <md-button aria-label="Vertical Align Left" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-vertical-align-bottom.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Vertical Align Center" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-vertical-align-center.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Vertical Align Top" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-vertical-align-top.svg"></md-icon>
		    </md-button>

		    <!-- Espaço Em Branco -->
	        <span flex></span>

	        <!-- Change Design/Code button -->

	        <md-button class="md-icon-button" ng-click="app.toggleLayout()">
	        	<md-tooltip>Design/Codigo</md-tooltip>
		        <md-icon ng-hide="app.changeLayoutIcon()" md-menu-origin md-svg-icon="./../assets/icons/code-tags.svg"></md-icon>
		        <md-icon ng-hide="!app.changeLayoutIcon()" md-menu-origin md-svg-icon="./../assets/icons/lightbulb-on.svg"></md-icon>
		    </md-button>

		    <!-- Change Android/iOS Layout Button -->

		    <md-button id="platformButton" class="md-icon-button" ng-click="app.togglePlatform()">
		    	<md-tooltip>Android/iOS</md-tooltip>
		        <md-icon ng-hide="app.changePlatformIcon()" id="platformIconAndroid" md-menu-origin md-svg-icon="./../assets/icons/android.svg"></md-icon>
		        <md-icon ng-hide="!app.changePlatformIcon()" id="platformIconIOS" md-menu-origin md-svg-icon="./../assets/icons/apple-ios.svg"></md-icon>
		    </md-button>

	        <!-- Ajuda -->
		    <md-menu md-offset="0 50" style="margin-left: 50px">
		      <md-button class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
		      	<md-tooltip>Ajuda</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/help-circle.svg"></md-icon>
		      </md-button>
		      <md-menu-content width="4">
		      	<md-menu-item>
			          <md-button ng-click="app.showCommandsDialog()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/book-open-page-variant.svg"></md-icon>
				            Lista de Comandos
				            <span flex></span>
							<p>F12</p>
			            </div>
			          </md-button>
			        </md-menu-item>
		      	<md-menu-item>
		          <md-button id="menuSaveAsBtn" ng-click="">
			            <md-icon md-svg-icon="./../assets/icons/file-document.svg"></md-icon>
			            Documentacao
			      </md-button>
			    </md-menu-item>
			    <md-menu-item>
		          <md-button id="menuSaveAsBtn" ng-click="">
			            <md-icon md-svg-icon="./../assets/icons/information.svg"></md-icon>
			            Sobre o app...
			      </md-button>
			    </md-menu-item>
		      </md-content>
		    </md-menu>
        </div>

    </md-toolbar>

	<section layout="row" flex>

	<!-- Left Side Bar -->

    <md-sidenav class="md-sidenav-left" md-component-id="left"          md-whiteframe="2" md-is-locked-open="true">

      <!-- Componentes -->
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h1 class="md-toolbar-tools">Componentes</h1>
			<md-button class="md-icon-button">
				<md-tooltip>Pesquisar</md-tooltip>
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/magnify.svg"></md-icon>
		    </md-button>
	    </div>
	  </md-toolbar>	

      <md-content layout-margin style="height: 60%;">
        <md-list flex>

        <!-- Texto -->
        <md-list-item class="md-2-line" ng-click="app.createText('Diego')">
          <md-icon md-svg-src="./../assets/icons/format-color-text.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Texto</h3>
          </div>
        </md-list-item>

        <!-- Imagem -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/image.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Imagem</h3>
          </div>
        </md-list-item>

        <!-- ListView -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/format-list-bulleted.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>ListView</h3>
          </div>
        </md-list-item>

        <!-- GridView -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/view-grid.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>GridView</h3>
          </div>
        </md-list-item>

        <!-- TabView -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/tab.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>TabView</h3>
          </div>
        </md-list-item>

        <!-- DatePicker -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/calendar-clock.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>DatePicker</h3>
          </div>
        </md-list-item>

        </md-list flex>

      </md-content>

      <!-- API'S -->
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h1 class="md-toolbar-tools">API's</h1>
			<md-button class="md-icon-button">
				<md-tooltip>Pesquisar</md-tooltip>
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/magnify.svg"></md-icon>
		    </md-button>
	    </div>
	  </md-toolbar>	

      <md-content layout-margin style="height: 40%;">

      <md-list flex>

      	<!-- Toast -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/information.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Toast</h3>
          </div>
        </md-list-item>

        <!-- Vibration -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/vibrate.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Vibracao</h3>
          </div>
        </md-list-item>

        <!-- Notificação -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/bell.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Notificacao</h3>
          </div>
        </md-list-item>

        <!-- Firebase -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/fire.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Firebase</h3>
          </div>
        </md-list-item>

        <!-- Facebook Login -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/facebook.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Facebook Login</h3>
          </div>
        </md-list-item>

        <!-- Twitter Login -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/twitter.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Twitter Login</h3>
          </div>
        </md-list-item>

        <!-- Google Login -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/google-plus.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Google Login</h3>
          </div>
        </md-list-item>

      </md-list>

      </md-content>

    </md-sidenav>


    <!-- Canvas de Design -->
    <md-content flex layout-padding>

	  	<!-- Área de TABS -->
	    <md-content class="md-padding">
		    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
		      <md-tab ng-repeat="tab in tabs"
		              ng-disabled="tab.disabled"
		              label="{{tab.title}}">
			  		  <md-tab-body>
				  		  <md-button class="md-icon-button" ng-click="app.removeTab( tab )">
					        <md-icon md-menu-origin md-svg-icon="./../assets/icons/close.svg"></md-icon>
					      </md-button>
						  <p flex>Voce criou uma nova cena, parabens!</p>
					  </md-tab-body>
		      </md-tab>
		    </md-tabs>
		</md-content>

    </md-content>


    <!-- Right Side Bar -->
    <md-sidenav class="md-sidenav-right" md-component-id="left"
                md-whiteframe="2" md-is-locked-open="true">

      <md-toolbar>
        <h1 class="md-toolbar-tools">Layout</h1>
      </md-toolbar>

      <md-content layout-margin style="height: 50%;">

      	<p>Background Color</p>

      	<div md-color-picker ng-model="valueObj"></div>

        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
      </md-content>

      <!-- Propriedades -->
      <md-toolbar>
        <h1 class="md-toolbar-tools">Propriedades</h1>
      </md-toolbar>

      <md-content layout-margin style="height: 50%;">
        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
      </md-content>

      </md-sidenav>

  	</section>

	</div>

</body>
</html>