<!DOCTYPE html>
<html>
<head>
	<title>React Native Layout Creator</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">

	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>

	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="scripts/appController.js"></script>
	<script type="text/javascript" src="scripts/config.js"></script>
	<script type="text/javascript" src="scripts/components/todoList/todoListDirective.js"></script>

	<!-- TODO: Adicionar Suporte à Língua PT-BR -->

	<!--Include live reloading-->
	<script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

	<div ng-controller="AppController as app" layout="column" style="height: 100%;" ng-cloak>

	<!-- Menu Superior -->

	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">

			<!-- Arquivo -->
			<!-- <md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/file.svg"></md-icon>
		    </md-button> -->

		    <!-- Abrir -->
		    <!-- <md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/folder.svg"></md-icon>
		    </md-button> -->

		    <!-- Salvar -->
		    <!-- <md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/content-save.svg"></md-icon>
		    </md-button> -->

		    <!-- Salvar Como...-->
		    <!-- <md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/content-save-all.svg"></md-icon>
		    </md-button> -->

		    <!-- Sair -->
		    <!-- <md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/exit-to-app.svg"></md-icon>
		    </md-button> -->

		    <!-- Divider -->
		    <!-- <md-divider class="menu-vertical-divider"></md-divider> -->

		    <!-- TODO: Criar Menu -->
	        <md-menu md-offset="20 60">
		      <md-button class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/file.svg"></md-icon>
		      </md-button>
		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ng-click="app.newScene('Sem Titulo', ' ')">
		          	<div layout="row" layout-align="start center" flex>
		            	<md-icon md-svg-icon="./../assets/icons/plus.svg" md-menu-align-target></md-icon>
		            	Nova Cena
		            	<span flex></span>
						<p>Ctrl + N</p>
		            </div>
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ng-click="app.openScene()">
		          	<div layout="row" layout-align="start center" flex>
			            <md-icon md-svg-icon="./../assets/icons/folder.svg"></md-icon>
			            Abrir Cena
			            <span flex></span>
						<p>Ctrl + O</p>
		            </div>
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button id="menuSaveBtn" ng-disabled="app.enableSaveBtn()" ng-click="app.saveScene()">
		          	<div layout="row" layout-align="start center" flex>
					  <md-icon md-svg-icon="./../assets/icons/content-save.svg"></md-icon>
					  Salvar Cena
					  <span flex></span>
					  <p>Ctrl + S</p>
					</div>		            
		          </md-button>

		        </md-menu-item>
		        <md-menu-item>
		          <md-button id="menuSaveAsBtn" ng-disabled="app.enableSaveBtn()" ng-click="app.saveSceneAs()">
		            <md-icon md-svg-icon="./../assets/icons/content-save-all.svg"></md-icon>
		            Salvar Cena Como...
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ng-click="app.exitApp($event)">
		          	<div layout="row" layout-align="start center" flex>
			            <md-icon md-svg-icon="./../assets/icons/exit-to-app.svg"></md-icon>
			            Sair
			            <span flex></span>
						<p>Ctrl + Q</p>
		            </div>
		          </md-button>
		        </md-menu-item>
		      </md-menu-content>
		    </md-menu>

		    <!-- Espaço Em Branco -->
	        <span flex></span>

	        <!-- Outros Botões -->
			<md-button class="md-icon-button">
	          <md-icon md-svg-icon="./../assets/icons/dots-vertical.svg"></md-icon>
	        </md-button>
        </div>

    </md-toolbar>

	<section layout="row" flex>

	<!-- Left Side Bar -->

    <md-sidenav class="md-sidenav-left" md-component-id="left"          md-whiteframe="2" md-is-locked-open="true">

      <!-- Componentes -->
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h1 class="md-toolbar-tools">Componentes</h1>
			<md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/magnify.svg"></md-icon>
		    </md-button>
	    </div>
	  </md-toolbar>	

      <md-content layout-margin style="height: 60%;">
        <md-list flex>

        <!-- Texto -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/format-color-text.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Texto</h3>
          </div>
        </md-list-item>

        <!-- Imagem -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/image.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Imagem</h3>
          </div>
        </md-list-item>

        <!-- ListView -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/format-list-bulleted.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>ListView</h3>
          </div>
        </md-list-item>

        <!-- GridView -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/view-grid.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>GridView</h3>
          </div>
        </md-list-item>

        <!-- TabView -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/tab.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>TabView</h3>
          </div>
        </md-list-item>

        <!-- DatePicker -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/calendar-clock.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>DatePicker</h3>
          </div>
        </md-list-item>

        <!-- Notificação -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/bell.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Notificacao</h3>
          </div>
        </md-list-item>

        </md-list flex>

      </md-content>

      <!-- API'S -->
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h1 class="md-toolbar-tools">API's</h1>
			<md-button class="md-icon-button">
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/magnify.svg"></md-icon>
		    </md-button>
	    </div>
	  </md-toolbar>	

      <md-content layout-margin style="height: 40%;">

      <md-list flex>

      	<!-- Toast -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/information.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Toast</h3>
          </div>
        </md-list-item>

        <!-- Vibration -->
        <md-list-item class="md-2-line" ng-click="null">
          <md-icon md-svg-src="./../assets/icons/vibrate.svg" class="s24"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Vibracao</h3>
          </div>
        </md-list-item>

      </md-list>

      </md-content>

    </md-sidenav>


    <!-- Canvas de Design -->
    <md-content flex layout-padding>

	  	<!-- Área de TABS -->
	    <md-content class="md-padding">
		    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
		      <md-tab ng-repeat="tab in tabs"
		              ng-disabled="tab.disabled"
		              label="{{tab.title}}">
			  		  <md-tab-body>
				  		  <md-button class="md-icon-button" ng-click="app.removeTab( tab )">
					        <md-icon md-menu-origin md-svg-icon="./../assets/icons/close.svg"></md-icon>
					      </md-button>
						  <p flex>Voce criou uma nova cena, parabens!</p>
					  </md-tab-body>
		      </md-tab>
		    </md-tabs>
		</md-content>

    </md-content>


    <!-- Right Side Bar -->
    <md-sidenav class="md-sidenav-right" md-component-id="left"
                md-whiteframe="2" md-is-locked-open="true">

      <md-toolbar>
        <h1 class="md-toolbar-tools">Layout</h1>
      </md-toolbar>

      <md-content layout-margin style="height: 50%;">
        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
      </md-content>

      <!-- Propriedades -->
      <md-toolbar>
        <h1 class="md-toolbar-tools">Propriedades</h1>
      </md-toolbar>

      <md-content layout-margin style="height: 50%;">
        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
      </md-content>

      </md-sidenav>

  	</section>

	</div>

</body>
</html>