<!DOCTYPE html>
<html lang="{{lang}}">
<meta charset="utf-8"/>
<head>
	<title>React Native Layout Creator</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">
	<link rel="stylesheet" type="text/css" href="styles/canvas.css">

	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>

	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="scripts/appController.js"></script>
	<script type="text/javascript" src="scripts/config.js"></script>

	<!-- Color Picker -->
	<script type="text/javascript" src="./../assets/color-picker/colorPicker.js"></script>
	<link rel="stylesheet" type="text/css" href="./../assets/color-picker/colorPickerStyle.css">

	<!-- Chronicle -->
	<script type="text/javascript" src="./../bower_components/chronicle/chronicle.js"></script>

	<!-- Suporte à Diferentes Línguas -->
	<script type="text/javascript" src="./../bower_components/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="./../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

	<!--Include live reloading-->
	<script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

	<div ng-controller="AppController as app" layout="column" style="height: 100%;" ng-cloak>

	<!-- Menu Superior -->

	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">

		    <!-- Arquivo -->
	        <md-menu md-offset="20 60">
		      <md-button aria-label="Arquivo" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
		        <md-tooltip><p class="tooltip" translate="SUP_MENU_FILE"></p></md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/file.svg"></md-icon>
		      </md-button>
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-button ng-click="app.newScene('Sem Titulo', ' ')">
			          	<div layout="row" layout-align="start center" flex>
			            	<md-icon md-svg-icon="./../assets/icons/plus.svg" md-menu-align-target></md-icon>
			            	<p translate="SUP_MENU_NEW_SCENE"></p>
			            	<span flex></span>
							<p>Ctrl + N</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="app.openScene()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/folder.svg"></md-icon>
				            <p translate="SUP_MENU_OPEN_SCENE"></p>
				            <span flex></span>
							<p>Ctrl + O</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button id="menuSaveBtn" ng-disabled="app.disableSaveBtn()" ng-click="app.saveScene()">
			          	<div layout="row" layout-align="start center" flex>
						  <md-icon md-svg-icon="./../assets/icons/content-save.svg"></md-icon>
						  <p translate="SUP_MENU_SAVE_SCENE"></p>
						  <span flex></span>
						  <p>Ctrl + S</p>
						</div>		            
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button id="menuSaveAsBtn" ng-disabled="app.disableSaveBtn()" ng-click="app.saveSceneAs()">
			            <md-icon md-svg-icon="./../assets/icons/content-save-all.svg"></md-icon>
			            <p translate="SUP_MENU_SAVE_SCENE_AS"></p>
			          </md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/file-import.svg"></md-icon>
				            <p translate="SUP_MENU_IMPORT"></p>
				            <span flex></span>
							<p>Ctrl + I</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="" ng-disabled="app.disableSaveBtn()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/file-export.svg"></md-icon>
				            <p translate="SUP_MENU_EXPORT"></p>
				            <span flex></span>
							<p>Ctrl + E</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-button ng-click="app.exitApp($event)">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/exit-to-app.svg"></md-icon>
				            <p translate="SUP_MENU_QUIT"></p>
				            <span flex></span>
							<p>Ctrl + W</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			      </md-menu-content>
		    </md-menu>

		    <!-- Editar -->
		    <md-menu md-offset="0 50">
		      <md-button aria-label="Editar" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
		        <md-tooltip><p class="tooltip" translate="SUP_MENU_EDIT"></p></md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/pencil.svg"></md-icon>
		      </md-button>
		      	<md-menu-content width="4">
		      		<md-menu-item>
			          <md-button ng-click="app.undo()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/undo.svg"></md-icon>
				            <p translate="SUP_MENU_UNDO"></p>
				            <span flex></span>
							<p>Ctrl + Z</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="app.redo()">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/redo.svg"></md-icon>
				            <p translate="SUP_MENU_REDO"></p>
				            <span flex></span>
							<p>Ctrl + Shift + Z</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/content-cut.svg"></md-icon>
				            <p translate="SUP_MENU_CUT"></p>
				            <span flex></span>
							<p>Ctrl + X</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/content-copy.svg"></md-icon>
				            <p translate="SUP_MENU_COPY"></p>
				            <span flex></span>
							<p>Ctrl + C</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/content-paste.svg"></md-icon>
				            <p translate="SUP_MENU_PASTE"></p>
				            <span flex></span>
							<p>Ctrl + V</p>
			            </div>
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="">
			          	<div layout="row" layout-align="start center" flex>
				            <md-icon md-svg-icon="./../assets/icons/select-all.svg"></md-icon>
				            <p translate="SUP_MENU_SELECT_ALL"></p>
				            <span flex></span>
							<p>Ctrl + A</p>
			            </div>
			          </md-button>
			        </md-menu-item>
		      	</md-menu-content>
		    </md-menu>

		    <!-- Configurações -->
		    <div ng-controller="WindowController as window">
			    <md-menu md-offset="0 50" style="margin-right: 120px">
			    	<md-button aria-label="Configurações" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
				        <md-tooltip>Configurações</md-tooltip>
				        <md-icon md-menu-origin md-svg-icon="./../assets/icons/settings.svg"></md-icon>
			        </md-button>
			        <md-menu-content width="3">
			      		<md-menu-item>
				          <md-button ng-click="window.themeChooser()">
				            <md-icon md-svg-icon="./../assets/icons/brush.svg"></md-icon>
				            Tema  <!-- <p translate="SUP_MENU_SETTINGS_THEME"></p> -->
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button ng-click="window.langChooser()">
				            <md-icon md-svg-icon="./../assets/icons/translate.svg"></md-icon>
				            Idioma  <!-- <p translate="SUP_MENU_SETTINGS_LANGUAGE"></p> -->
				          </md-button>
				        </md-menu-item>
			    </md-menu>
		    </div>

		    <!-- Format Text Buttons -->

		    <md-button aria-label="Negrito" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		        <md-tooltip>Negrito</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-bold.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Italico" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		        <md-tooltip>Italico</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-italic.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Underline" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Sublinhado</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-underline.svg"></md-icon>
		    </md-button>

		    <!-- Divider -->
		    <md-divider class="menu-vertical-divider"></md-divider>

		    <!-- Format Align Buttons -->

		    <md-button aria-label="Alinhar Esquerda" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Alinhar Texto a Esquerda</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-left.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Alinhar Centro" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Alinhar Texto ao Centro</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-center.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Alinhar Direita" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Alinhar Texto a Direita</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-right.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Justificar" class="md-icon-button" ng-disabled="app.disableFormatText()" ng-click="">
		    	<md-tooltip>Justificar Texto</md-tooltip>
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-align-justify.svg"></md-icon>
		    </md-button>

		    <!-- Divider -->
		    <md-divider class="menu-vertical-divider"></md-divider>

		    <!-- Format Horizontal Align Buttons -->

		    <md-button aria-label="Horizontal Align Left" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-horizontal-align-left.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Horizontal Align Center" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-horizontal-align-center.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Horizontal Align Right" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-horizontal-align-right.svg"></md-icon>
		    </md-button>

		    <!-- Divider -->
		    <md-divider class="menu-vertical-divider"></md-divider>

		    <!-- Format Vertical Align Buttons -->

		    <md-button aria-label="Vertical Align Left" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-vertical-align-bottom.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Vertical Align Center" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-vertical-align-center.svg"></md-icon>
		    </md-button>

		    <md-button aria-label="Vertical Align Top" class="md-icon-button" ng-disabled="app.disableFormatLayout()" ng-click="">
		        <md-icon md-menu-origin md-svg-icon="./../assets/icons/format-vertical-align-top.svg"></md-icon>
		    </md-button>

		    <!-- Espaço Em Branco -->
	        <span flex></span>

	        <!-- Change Design/Code button -->

	        <md-button class="md-icon-button" ng-click="app.toggleLayout()">
	        	<md-tooltip>Design/Código</md-tooltip>
		        <md-icon ng-hide="app.changeLayoutIcon()" md-menu-origin md-svg-icon="./../assets/icons/code-tags.svg"></md-icon>
		        <md-icon ng-hide="!app.changeLayoutIcon()" md-menu-origin md-svg-icon="./../assets/icons/lightbulb-on.svg"></md-icon>
		    </md-button>

		    <!-- Change Android/iOS Layout Button -->

		    <md-button id="platformButton" class="md-icon-button" ng-click="app.togglePlatform()">
		    	<md-tooltip>Android/iOS</md-tooltip>
		        <md-icon ng-hide="app.changePlatformIcon()" id="platformIconAndroid" md-menu-origin md-svg-icon="./../assets/icons/android.svg"></md-icon>
		        <md-icon ng-hide="!app.changePlatformIcon()" id="platformIconIOS" md-menu-origin md-svg-icon="./../assets/icons/apple-ios.svg"></md-icon>
		    </md-button>

	        <!-- Ajuda -->
	        <div ng-controller="WindowController as window">
			    <md-menu md-offset="0 50" style="margin-left: 50px">
			      <md-button class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
			      	<md-tooltip>Ajuda</md-tooltip>
			        <md-icon md-menu-origin md-svg-icon="./../assets/icons/help-circle.svg"></md-icon>
			      </md-button>
			      <md-menu-content width="4">
			      	<md-menu-item>
				          <md-button ng-click="window.commandList()">
				          	<div layout="row" layout-align="start center" flex>
					            <md-icon md-svg-icon="./../assets/icons/book-open-page-variant.svg"></md-icon>
					            Lista de Comandos
					            <span flex></span>
								<p>F12</p>
				            </div>
				          </md-button>
				        </md-menu-item>
			      	<md-menu-item>
			          <md-button id="menuSaveAsBtn" ng-click="">
				            <md-icon md-svg-icon="./../assets/icons/file-document.svg"></md-icon>
				            Documentação
				      </md-button>
				    </md-menu-item>
				    <md-menu-item>
			          <md-button id="menuSaveAsBtn" ng-click="">
				            <md-icon md-svg-icon="./../assets/icons/information.svg"></md-icon>
				            Sobre o app...
				      </md-button>
				    </md-menu-item>
			      </md-content>
			    </md-menu>
		    </div>
        </div>

    </md-toolbar>

	<section layout="row" flex>

	<!-- Left Side Bar -->

    <md-sidenav class="md-sidenav-left" md-component-id="left"          md-whiteframe="2" md-is-locked-open="true">

      <!-- Componentes -->
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h1 class="md-toolbar-tools">Componentes</h1>
			<md-button class="md-icon-button" ng-disabled="app.disableSaveBtn()">
				<md-tooltip>Pesquisar</md-tooltip>
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/magnify.svg"></md-icon>
		    </md-button>
	    </div>
	  </md-toolbar>	

      <md-content layout-margin style="height: 60%;">

        <md-subheader class="md-accent">Bars</md-subheader>

        <md-list flex>

	        <!-- Status Bar -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.drawStatusBar()">
	          <md-icon md-svg-src="./../assets/icons/page-layout-header.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>Status Bar</h3>
	          </div>
	        </md-list-item>

	        <!-- Action Bar -->
	        <md-list-item ng-drag="true" ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.drawActionBar()">
	          <md-icon md-svg-src="./../assets/icons/format-color-text.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>Action Bar</h3>
	          </div>
	        </md-list-item>

        </md-list flex>

        <md-subheader class="md-accent">Views</md-subheader>

        <md-list flex>

        	<!-- Navigation Drawer -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('nav-drawer')">
	          <md-icon md-svg-src="./../assets/icons/page-layout-sidebar-left.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>Navigation Drawer</h3>
	          </div>
	        </md-list-item>

	        <!-- ListView -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('list-view')">
	          <md-icon md-svg-src="./../assets/icons/format-list-bulleted.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>ListView</h3>
	          </div>
	        </md-list-item>

	        <!-- GridView -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('grid-view')">
	          <md-icon md-svg-src="./../assets/icons/view-grid.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>GridView</h3>
	          </div>
	        </md-list-item>

	        <!-- TabView -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('tab-view')">
	          <md-icon md-svg-src="./../assets/icons/tab.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>TabView</h3>
	          </div>
	        </md-list-item>

	        <!-- MapView -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('map-view')">
	          <md-icon md-svg-src="./../assets/icons/google-maps.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3 translate="COMPONENT_MAP_VIEW"></h3>
	          </div>
	        </md-list-item>

        </md-list flex>

        <md-subheader class="md-accent">Touchables</md-subheader>

        <md-list flex>

        	<!-- Touchable Highlight -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('touch-highlight')">
	          <md-icon md-svg-src="./../assets/icons/lightbulb-outline.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>Highlight</h3>
	          </div>
	        </md-list-item>

	        <!-- Touchable Native Feedback -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('touch-native-feedback')">
	          <md-icon md-svg-src="./../assets/icons/cursor-pointer.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>Native Feedback</h3>
	          </div>
	        </md-list-item>

	        <!-- Touchable Opacity -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('touch-opacity')">
	          <md-icon md-svg-src="./../assets/icons/opacity.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>Opacity</h3>
	          </div>
	        </md-list-item>

        </md-list>

        <md-subheader class="md-accent">Outros</md-subheader>

        <md-list flex>

        	<!-- Texto -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.drawText()">
	          <md-icon md-svg-src="./../assets/icons/format-text.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3 translate="COMPONENT_TEXT"></h3>
	          </div>
	        </md-list-item>

	        <!-- Botão -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.drawButton()">
	          <md-icon md-svg-src="./../assets/icons/shape-square-plus.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3 translate="COMPONENT_BUTTON"></h3>
	          </div>
	        </md-list-item>

	        <!-- Imagem -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.drawImage()">
	          <md-icon md-svg-src="./../assets/icons/image.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3 translate="COMPONENT_IMG"></h3>
	          </div>
	        </md-list-item>

	        <!-- DatePicker -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('date-picker')">
	          <md-icon md-svg-src="./../assets/icons/calendar-clock.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>DatePicker</h3>
	          </div>
	        </md-list-item>

	        <!-- FAB -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.drawFAB()">
	          <md-icon md-svg-src="./../assets/icons/plus-circle.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>FAB</h3>
	          </div>
	        </md-list-item>

	        <!-- Refresh Control -->
	        <md-list-item ng-disabled="app.disableSaveBtn()" class="md-2-line" ng-click="app.placeComponent('refresh-control')">
	          <md-icon md-svg-src="./../assets/icons/refresh.svg" class="s24"></md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3 translate="COMPONENT_REFRESH_CONTROL"></h3>
	          </div>
	        </md-list-item>

        </md-list flex>

      </md-content>

      <!-- API'S -->
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h1 class="md-toolbar-tools">API's</h1>
			<md-button class="md-icon-button" ng-disabled="app.disableSaveBtn()">
				<md-tooltip>Pesquisar</md-tooltip>
	        	<md-icon md-menu-origin md-svg-icon="./../assets/icons/magnify.svg"></md-icon>
		    </md-button>
	    </div>
	  </md-toolbar>	

	  <!-- List API -->
      <md-content layout-margin style="height: 40%;">
      	<div ng-include="'./components/listAPI.html'"></div>
      </md-content>

    </md-sidenav>


    <!-- Canvas de Desenho -->
    <md-content class="parentContentCanvas" flex layout-padding>
    	<div ng-include="'./components/drawCanvas.html'"></div>
    </md-content>


    <!-- Right Side Bar -->
    <md-sidenav class="md-sidenav-right" md-component-id="left"
                md-whiteframe="2" md-is-locked-open="true">

      <md-toolbar>
        <h1 class="md-toolbar-tools" translate="LAYOUT_PROPS"></h1>
      </md-toolbar>

      <md-content layout-margin style="height: 50%">

      	<span></span>

      	<!-- Título do Layout -->
        <md-input-container class="md-icon-float md-block">
	      <label>Título</label>
	      <md-icon md-svg-src="./../assets/icons/format-title.svg"></md-icon>
	      <input id="inputLayoutTitle" ng-disabled="app.disableSaveBtn()" ng-model="changeTitle" type="text" ng-change="app.setLayoutTitle(changeTitle)">
	    </md-input-container>

      	<div layout="row" id="divColorPicker">
      		<color-picker id="backgroundColorPicker" color="colorPickerMainColor" options="colorPickerOptions" on-color-changed="colorPickerChanged(newColor, oldColor)"></color-picker>
      		<p class="md-caption" style="margin-left: 10px">Cor de Fundo</p>
      	</div>

      	<md-subheader class="md-accent">Grid</md-subheader>

	    <md-checkbox ng-disabled="app.disableSaveBtn()" aria-label="Canvas Grid" ng-model="chk.gridCanvas" style="margin-left: 24px" ng-click="app.enableGridCanvas(chk.gridCanvas)" ng-init="chk.gridCanvas=true">
            Visibilidade
        </md-checkbox>

        <div layout="row" ng-hide="app.isGridVisible()" ng-controller="InternalGridController as internalGrid" style="margin-left: 20px">
      		<color-picker id="internalGridColorPicker" color="'dimgrey'" options="gridColorOptions" on-color-changed="internalGridColorChanged(newColor, oldColor)"></color-picker>
      		<p class="md-caption" style="margin-left: 10px">Cor Interna</p>
      	</div>

      	<div layout="row" ng-hide="app.isGridVisible()" ng-controller="ExternalGridController as externalGrid" style="margin-left: 20px">
      		<color-picker id="externalGridColorPicker" color="'dimgrey'" options="gridColorOptions" on-color-changed="externalGridColorChanged(newColor, oldColor)"></color-picker>
      		<p class="md-caption" style="margin-left: 10px">Cor Externa</p>
      	</div>

      	<md-slider-container ng-hide="app.isGridVisible()" ng-disabled="app.disableSaveBtn()" style="margin-left: 28px">
	      <span>A</span>
	      <md-slider flex min="0" max="100" ng-model="gridSlider.altura" id="altura-slider">
	      </md-slider>
	      <md-input-container>
	        <input flex type="number" ng-model="gridSlider.altura" aria-controls="altura-slider">
	      </md-input-container>
	    </md-slider-container>

	    <md-slider-container ng-hide="app.isGridVisible()" ng-disabled="app.disableSaveBtn()" style="margin-left: 28px">
	    	<span>L</span>
		    <md-slider flex min="0" max="100" ng-model="gridSlider.largura" id="largura-slider">
		    </md-slider>
		    <md-input-container>
		    	<input flex type="number" ng-model="gridSlider.largura" aria-controls="largura-slider">
		    </md-input-container>
	    </md-slider-container>

      </md-content>

      <!-- Propriedades do Componente-->
      <md-toolbar>
        <h1 class="md-toolbar-tools" translate="COMPONENT_PROPS"></h1>
      </md-toolbar>

      <md-content layout-margin style="height: 50%;">

      	<!-- Status Bar -->
      	<div id="statusBarProps" ng-include="'./components/statusBarProps.html'" ng-show="selectedComp == 'status-bar'"></div>

      	<!-- Text -->
      	<div id="textProps" ng-include="'./components/textProps.html'" ng-show="selectedComp == 'text'"></div>
      	
      	<!-- Button -->
      	<div id="buttonProps" ng-include="'./components/buttonProps.html'" ng-show="selectedComp == 'button'"></div>

      	<p translate="NO_COMPONENT" ng-show="selectedComp == null"></p>

      </md-content>

      </md-sidenav>

  	</section>

	</div>

</body>
</html>